@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background: url(./assets/images/heroBg3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
